@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-background: #f7f9fb;
	--color-surface: #ffffff;
	--color-on-surface: #191c1e;
	--color-on-surface-variant: #45464d;
	--color-primary: #000000;
	--color-on-primary: #ffffff;
	--color-inverse-surface: #2d3133;
	--color-outline: #76777d;
	--color-outline-variant: #c6c6cd;

	--color-severity-fast: #10b981;
	--color-severity-moderate: #f59e0b;
	--color-severity-slow: #f97316;
	--color-severity-critical: #ef4444;

	--font-sans: 'Inter', sans-serif;

	--spacing-stack-sm: 0.5rem;
	--spacing-stack-md: 1rem;
	--spacing-stack-lg: 2rem;
	--spacing-gutter: 1.5rem;

	--radius: 0.5rem;
}

@layer base {
	body {
		background-color: var(--color-background);
		color: var(--color-on-surface);
		font-family: var(--font-sans);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
